@media (max-width:480px) {
    nav .container h1 {
        font-size:60px;
        color:#FFF;
        font-weight: bold;
        text-align:center;
        font-family: 'Kaushan Script', cursive;
        overflow:hidden;
    }
    
    nav h1 span {
        color:#fd0;
        font-family: 'Kaushan Script', cursive;
    }

    .slider-opacity h2 {
        line-height:600px;
        font-size:50px; 
    }

        .bars {
            margin-top:60px;
        }
}